---

---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Hammad Shafiq</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>About Me</h1>
        <p>I am a front-end developer currently interested in learning the full-stack development. This is my first astro tutorial and I want to build and deploy a sample blog.</p>
    </body>
</html>
