---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is the blog about my Astro learning experience.</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
