---
import Social from '../components/Social.astro';
---

<footer>
    <p><Social platform='github' username='hmdshfq' /></p>
    <p><Social platform='linkedin' username='hmdshfq' /></p>
</footer>

<style>
footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
</style>