---
import Social from '../components/Social.astro';
---

<footer>
    <p
        >Learn more about my projects on <Social platform='github' username='hmdshfq' !</p
    >
    <p>Visit my <Social platform='twitter' username='hmdshfq' /></p>
    <p>Visit my <Social platform='instagram' username='hmdshfq' /></p>
    <p>Visit my <Social platform='linkedin' username='hmdshfq' /></p>
</footer>

<style>
footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
</style>